# Approximate string matching in Pandas

In [6]:
from duplicates import strip_frequently_used_word, Duplicates
import pandas as pd

In [7]:
# initialize list of lists 
data = [['69100', "Barrack", "Obama", "50"],
        ['69100', "Barack", "Obama", "Fifty"],
        ['69100', "Barrac", "Obama", 50.2],
        ['69100', "Donald", "Trump", "60"],
        ['69100', "Dodonalds", "Trump", "Sixty"]]
  
# Create the pandas DataFrame containing approximate duplicates
df = pd.DataFrame(data, columns = ['code_postal', 'first name', 'name', 'age']) 

df

  code_postal first name   name    age
0       69100    Barrack  Obama     50
1       69100     Barack  Obama  Fifty
2       69100     Barrac  Obama   50.2
3       69100     Donald  Trump     60
4       69100  Dodonalds  Trump  Sixty

In [8]:
# Name of the columns on which we seek the approximate duplicates
columns_merge = ['first name', 'name']

# Name of the colunm on which we seek the exact duplicates : "code_postal". This columns is mandatory.

# Step 1 : We add a column containing crosses on the approximate duplicates.

In [9]:
duplicates = Duplicates()

df_intermediate = duplicates.create_check(df, columns_merge=columns_merge, additional_columns_in_check=["age"], TRESHOLD_INF=50, TRESHOLD_SUP=90, merge_also_equality=True)

df_intermediate

Analyzing the duplicates ...
0 1

,index,first name,name,age,code_postal,match_id,first_line_match_id,matching_score,source_duplicates,id_duplicates,check
0,0,Barrack,Obama,50,69100,0.0,1.0,NaN,automatically merged,0.0,x
1,0,Barack,Obama,Fifty,69100,0.0,0.0,92.0,automatically merged,1.0,x
2,1,Barrac,Obama,50.2,69100,0.0,0.0,92.0,automatically merged,2.0,x
3,1,Barack,Obama,Fifty,69100,1.0,1.0,NaN,manual check,1.0,
4,2,Barrac,Obama,50.2,69100,1.0,0.0,83.0,manual check,2.0,NaN
5,2,Barrac,Obama,50.2,69100,2.0,1.0,NaN,single,2.0,NaN
6,3,Donald,Trump,60,69100,3.0,1.0,NaN,manual check,3.0,
7,4,Dodonalds,Trump,Sixty,69100,3.0,0.0,80.0,manual check,4.0,NaN
8,4,Dodonalds,Trump,Sixty,69100,4.0,1.0,NaN,single,4.0,NaN

If some duplicates are very different, you can delete them by hand by adding the crosses noted "x" in the column check. For example, here Dodonald trump has a matching score of 80 with Donald. 80 is below the Treshold_inf = 90 so he was not considered as a duplicate.

# Step 2 : And finally we delete the approximate duplicates

In [10]:
df_without_duplicates = duplicates.merge(df, df_intermediate, columns_merge=columns_merge)
df_without_duplicates

1/3 analyse done
2/3 alones done
3/3 Matches done
Done

  source_duplicates code_postal first name   name    age source
3             alone       69100     Donald  Trump     60
4             alone       69100  Dodonalds  Trump  Sixty
0        duplicates       69100    Barrack  Obama     50